body {
  background: radial-gradient(circle at center, #2c3e50, #000);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  position: relative;
  width: 600px;
  height: 400px;
  background: rgba(255, 255, 255, 0.05);
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
}

.box {
  position: absolute;
  top: 150px;
  left: 50px;
  width: 100px;
  height: 100px;
  background-color: #00ffcc;
  opacity: 1;
  border-radius: 20px;
  transform-origin: center;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

/* NAVBAR */
.navbar {
  width: 100%;
  background: #333;
  color: white;
  padding: 12px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 22px;
  font-weight: bold;
}

/* Menu links */
.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}

/* HAMBURGER ICON (hidden by default on large screen) */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}

.hamburger span {
  width: 30px;
  height: 4px;
  background: white;
  border-radius: 5px;
}

/* MOBILE STYLE */
@media(max-width: 768px) {

  .hamburger {
    display: flex;
  }

  .nav-links {
    position: absolute;
    top: 60px;
    right: -250px; /* hidden off-screen */
    background: #222;
    width: 200px;
    flex-direction: column;
    padding: 20px;
    gap: 18px;
    transition: 0.4s;
  }

  .nav-links.active {
    right: 0; /* slide in */
  }

  .nav-links li a {
    font-size: 20px;
  }
}
